body {
  background-color: pink;
}

.new-border {
  border: 2px solid black;
}

/*.new-border2 {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}*/

.title {
  text-align: center;
  border-color: green;
  font-size: 50px;
}

.image {
  border-color: blue;
}

.img-box {
  display: inline-block;
  width: 30%;
  height: 50px;
  border: 2px dashed lime;
  margin-right: 2%;
}

.text-1 {
  border-color: red;
  float: left;
  width: 45%;
}

.text-2 {
  border-color: orange;
  float: right;
  width: 45%;
}

.footer {
  border-color: aqua;
  clear: both;
}

.top-nav {
  background-color: goldenrod;
  height: 45px;
}

.top-nav li {
  list-style-type: none;
  font-family: Arial;
  padding: 0 9px;
  float: left;
  margin: 10px 15px 0 15px;
  cursor: pointer;
}